
.bg{
    background-color: bisque;
    width: 30%;
    border-radius: 30px;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn{
    width: 50px;
    height: 70px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    border-style: none;
}
input{
    padding:  30px 25px;
    margin-bottom: 20px;
    font-size: 22px;
}


/* media queries  */

@media (max-width: 575.98px) { 
    .bg{
        width: 100%;
    }
    input{
        padding: 20px 20px;
        font-size: 22px;
    }
 }